<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: metatags(name='degrees')">
    
</head>
<body>
    <header th:insert="fragments :: navbar(degrees)"></header>
    <h1 class="text-center">Dipartimenti</h1>
    <hr>
	<div class="container" th:if="${degree.size()>0}">
    	<table class="table table-striped border">
        	<thead>
            	<tr>
                	<th>Nome</th>
                	<th>Livello</th>
                	<th>Indirizzo</th>
                	<th>Email</th>
                	<th>Sito</th>
            	</tr>
        	</thead>
        	<tbody>
           		<tr th:each="deg : ${degree}">
                	<td th:text="${deg.getName()}"></td>
                	<td th:text="${deg.level}"></td>
                	<td th:text="${deg.getAddress()}"></td>
                	<td th:text="${deg.getEmail()}"></td>
                	<td th:text="${deg.getWebsite()}"></td>
                	<td th:text="${deg.depa.name}"></td>
            	</tr>
        	</tbody>
    	</table>
	</div>
    <p th:unless="${degree.size()>0}" class="text-center">Nessun dipartimento trovato</p>
</body>
</html>