<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments :: metatags(name='index')">
    
</head>
<body>
    <header th:insert="fragments :: navbar"></header>
    <h1 class="text-center">Dipartimenti</h1>
    <hr>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Direttore</th>
                <th>Indirizzo</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Sito</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="depa : ${depName}">
                <td th:text="${depa.getName()}"></td>
                <td th:text="${depa.getHead}"></td>
                <td th:text="${depa.getAddress()}"></td>
                <td th:text="${depa.getPhone()}"></td>
                <td th:text="${depa.getEmail()}"></td>
                <td th:text="${depa.getWebsite()}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>